/* Basic layout */
.App {
    text-align: center; 
  }
  
  /* Logo styling */
  .logo {
    width: 200px; /* Adjust size as needed */
  }
  
  /* ...add more styles for animation, report container, etc. */
  iframe {
    /* Adjust selectors as needed based on the specific structure of your Power BI report */
    #pvExplorationHost > div.embeddedView > div.navigationContainer {
        display: none !important;
    }
}